<h3>Criar Equipe</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="nome" required [(ngModel)]="equipe.nome" name="nome">
        </div>

        <div class="form-group">
            <label for="name">Ano de fundação</label>
            <input type="text" class="form-control" id="anoFundacao" required [(ngModel)]="equipe.anoFundacao" name="anoFundacao">
        </div>

        <div class="form-group">
            <label for="name">Quantidade de atletas</label>
            <input type="text" class="form-control" id="qtdeAtletas" required [(ngModel)]="equipe.qtdeAtletas" name="qtdeAtletas">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
</div>