<div class="container">
  <h2>{{title}}</h2>
  <hr>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Links -->
      <ul class="navbar-nav">
          <li class="nav-item">
              <a routerLink="equipes" class="btn btn-primary active" role="button" routerLinkActive="active">Equipes</a>
          </li>
          <li class="nav-item" style="margin-left: 10px;">
              <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Incluir</a>
          </li>
      </ul>

  </nav>
  <router-outlet></router-outlet>
</div>