<div *ngIf="equipe">
  <div>
      <label>Nome: </label> {{equipe.nome}}
  </div>
  <div>
      <label>Ano de Fundação: </label> {{equipe.anoFundacao}}
  </div>
  <div>
      <label>Quantidade de atletas: </label> {{equipe.qtdeAtletas}}
  </div>
  <div>
      <label>Ativa: </label> {{equipe.active}}
  </div>

  <span class="button is-small btn-primary" *ngIf='equipe.active' (click)='updateActive(false)'>Inativo</span>

  <span class="button is-small btn-primary" *ngIf='!equipe.active' (click)='updateActive(true)'>Ativo</span>

  <span class="button is-small btn-danger" (click)='deleteEquipe()'>Delete</span>

  <hr/>
</div>