<div class="panel panel-default">
  <div class="panel-heading">
      <h1>Equipes</h1>
  </div>
  <div class="panel-body">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>Nome</th>
                  <th>Ano de Fundação</th>
                  <th>Quantidade de Atletas</th>
                  <th>Ações</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let equipe of equipes | async">
                  <td>{{equipe.nome}}</td>
                  <td>{{equipe.anoFundacao}}</td>
                  <td>{{equipe.qtdeAtletas}}</td>
                  <td><button (click)="deleteEquipe(equipe.id)">Delete</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>